body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  font-family: "inter";
}

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
h2 {
  font-size: medium;
}

header {
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  height: 85px;
}

header input[type='button'] {
  position: absolute;
  margin-left: auto;
  margin-right: 30px;
  margin-inline-start: 30px;
  background-color: #a98363;
  color: rgb(247, 247, 247);
  border-style: solid;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  height: 35px;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;
  border-width: 2.5px;
  border-color: #a98363;
  font-size: 20px;
  transform: rotate(180deg);
}
#introducao {
  margin-top: 30px;
  font-size: 24px;
}
header input[type='button']:hover {
  background-color: #ffffff00;
  color: #a98363;
}

header .title {
  font-family: 'Courier', monospace;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: min-content;
  border-radius: 5px;
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

.inicial {
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px;
  font-size: 18px;
}

.inicial-button {
  background-color: #cf7e3c73;
  border: none;
  border-radius: 10px;
  padding: 7px;
  transition: box-shadow 0.3s, backgrond-color 0.3s;
}

.inicial-button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

.caixa-pergunta {
  background-color: #d19b6e;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  width: 65%;
  max-width: 850px;
  color: white;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pergunta {
  text-align: center;
}

legend {
  font-size: 36px;
  font-weight: bold;
}

.respostas {
  flex-wrap: wrap;
  background-color: #cf7e3c73;
  display: flex;
  text-align: center;
  align-content: center;
  width: 30vw;
  max-width: 500px;
  height: auto;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  transition: box-shadow 0.3s, backgrond-color 0.3s;
}

.respostas:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

.conjuntoRespostas {
  display: flex;
  justify-content: center;
  align-content: center;
}

#question {
  text-align: center;
}

#introducao {
  text-align: center;
}

.apagar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#apagar {
  cursor: pointer;
  background-color: #daa275;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  width: 132px;
  transition: box-shadow 0.3s, backgrond-color 0.3s, color 0.1s;
}

#apagar:hover {
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

@media (max-width: 720px) {
  header input[type='button'] {
    position: unset;
    margin: unset;
    margin-left: 10px;
    text-align: center;
    width: auto;
    height: 30px;
    font-size: 16px;
  }
  .conjuntoRespostas, .pergunta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cima {
    margin-top: 10px;
  }

  .respostas {
    margin: 10px 15px;
  }

  .respostas, .caixa-pergunta {
    width: 75%;
  }

  .pergunta {
    width: 100%; 
  }
}
