
/*obstáculo mover para o lado*/
body {
    font-family: "Inter";
    background-color: #fff2db;
    margin: 0;
}

 
/*obstáculo mover para o lado*/
.gameCorpo {
    margin-top: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

header {
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    height: 85px;
    box-shadow: #c4c4c423 0px 7px 5px;
  }
  



  header input[type='button'] {
    position: absolute;
    margin-left: auto;
    margin-right: 30px;
    margin-inline-start: 30px;
    background-color: #a98363;
    color: rgb(247, 247, 247);
    border-style: solid;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 35px;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    border-width: 2.5px;
    border-color: #a98363;
    font-size: 20px;
    transform: rotate(180deg);
  }
  
  header input[type='button']:hover {
    background-color: #ffffff00;
    color: #a98363;
  }
  
  header .title {
    font-family: 'Courier', monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: min-content;
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
    font-size: 18px;
  }

.game {
    border-radius: 10px; 
    border:1px solid black;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;

    
}




.chao {
 position: absolute;
    bottom: -35px;;
    display: inline-block;
}
.center {   
    display:flex;
    justify-content: center;
    align-items:center;
}

input[type = 'text'] {
    width: 200px;
    background-color: #eacda1;
    border-color: #eacda1;
    border-width: 4px;
    border-style: solid;
    height: 20px;
    border-radius: 10px;
}
input[type = 'text']:hover{
    border-color: #c5a067;
}

/*config do quadrado do game*/

.personagem{
    position: absolute;
    width:120px;
    bottom: 0;
    
}/*personagem principal*/

.jump {
    animation: pulo_animation 700ms linear;
}

.move_obstaculo{
    animation: obstaculo_animation 1.7s infinite linear ; 
}

.move_obstaculo2{
    animation: obstaculo_animation 1.3s infinite linear; 
}
.move_obstaculo3{
    animation: obstaculo_animation  1s infinite linear; 
}
.move_obstaculo4{
    animation: obstaculo_animation 0.9 infinite linear; 
}
.move_obstaculo5{
    animation: obstaculo_animation 0.8s infinite linear; 
}

obstaculo{
    position: absolute;
    height: 70px;
    bottom: 0 ;
    right: -119px ;
}/*obstáculo do game*/







   
@keyframes pulo_animation{
    0%{
        bottom: 0px;
    }
    30%{
        bottom: 130px;
    }
    50%{
        bottom: 170px
    }
    70%{
        bottom: 130px;
    }
    100%{
        bottom: 0px;
    }


#tempo{
    background-color: #f2b964; 
    border-radius:5px;
    position: absolute;
    padding: 3px 5px 3px 5px;
    font-size: small;
    right:10px;
    top:0px;
}/*organizacao do placar de tempo*/


#GameOver_menu{
    text-align: center;     
    margin-top: 20px;
    padding:20px;
    background: #ec9e2a;
    border-radius:10px;
    z-index: 2;
    
}
.boxIniciar{
    text-align: center;
    margin-top: 20px;
    justify-content:center;
    align-items:center;
    height: auto;
    width: auto;
    padding:20px;
    background: #ec9e2a;
    border-radius:10px;
    z-index: 1;
}
.bt {
    border-radius: 5px;
    border-style: none;
    background-color: #f2b964;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    margin: 2px;
}
.bt:hover {
    background-color: #9d7a46;
    color: #ffffff;
}

.ranking {
    text-align: left;
    font-weight: 600;
    background-color: #f1c076;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
    width: calc(100% - 20px);
    height: 150px;
    margin-bottom: 15px;
}
#numero {
    color:yellow
}


.play{
    position: absolute;
    right:45%;
    bottom: 70px;
}


.botao_escolha {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.personagem {
    
    pointer-events: none;
    width: 100px;
    height: auto;
    border-radius: 50%; 
    transition: transform 0.2s ease-in-out; 
}



#personagem1 {
    transform: translateY(-245px) translateX(75px);
}
#personagem2 {
    transform: translateY(-245px) translateX(-175px);
}

.animacao_botao{
    animation: botao_animation 700ms;
    }
    
    .botao_escolha{
        height:200px;
        width: 100px;
        background-color: #ffffff;
        border-radius:10px;
        display: inline-block;
    }

   

    
    
    
    @keyframes botao_animation{
    0%{background-color: white;}
    10%{background-color: rgb(0, 229, 255);}
    20%{background-color: white;}
    30%{background-color: rgb(0, 229, 255);}
    40%{background-color: white;}
    50%{background-color: rgb(0, 229, 255);}
    60%{background-color: white;}
    70%{background-color: rgb(0, 229, 255);}
    80%{background-color: white;}
    90%{background-color: rgb(0, 229, 255);}
    100%{background-color: white;}
    }

@media (max-width: 720px) {
    header input[type='button'] {
      position: unset;
      margin: unset;
      margin-left: 10px;
      text-align: center;
      width: auto;
      height: 30px;
      font-size: 16px;
    }
    header .title {
        transform: translateX(-20px);
    }
}



.cenario1{
    background: linear-gradient(#087edf,#53a8ee,#90b7d6,#ffffff,#ffffff);
    
}
.cenario2{
    background: linear-gradient(#22023d, #a55cd6, rgb(137, 123, 123));
}
.animacao_cenario2{
    animation: animacao_noite 2.5s linear;

}
@keyframes animacao_noite {
    0% {
        background: linear-gradient(#087edf, #53a8ee, #90b7d6, #ffffff, #ffffff);
    }
    10% {
        background: linear-gradient(#1b6ac9, #5d9dd9, #94b3d5, #e1e6f1, #e1e6f1);
    }
    20% {
        background: linear-gradient(#2f58c4, #6ba3db, #97b5d6, #d1d9ec, #d1d9ec);
    }
    30% {
        background: linear-gradient(#3c3abf, #74a4db, #99b7d6, #c2cde6, #c2cde6);
    }
    40% {
        background: linear-gradient(#4622bf, #7c92d6, #9ca5d6, #b3c0e0, #b3c0e0);
    }
    50% {
        background: linear-gradient(#500bbf, #8577d6, #9f93d6, #a3b4db, #a3b4db);
    }
    60% {
        background: linear-gradient(#5a02c4, #8d59d9, #a282d6, #92a7d6, #92a7d6);
    }
    70% {
        background: linear-gradient(#6300c4, #9552db, #a471d6, #829bd1, #829bd1);
    }
    80% {
        background: linear-gradient(#6b00c4, #9d42db, #a660d6, #718ecb, #718ecb);
    }
    90% {
        background: linear-gradient(#7400c4, #a531db, #a84fc4, #6182c5, #6182c5);
    }
    100% {
        background: linear-gradient(#22023d, #a55cd6, rgb(137, 123, 123));
    }
}

#lua{
    position: absolute;
    height: 100px;
    bottom: 75%;
    right:70%;
    margin:0;
    padding:0;
}
.sol{
    position: absolute;
    height: 150px;
    bottom: 70%;
    right:70%;
    margin:0;
    padding:0;
}

#estrela1{
    position:absolute;
    height: 30px;
    bottom: 80%;
    right:30%;
    transform: rotate(15deg);
}
#estrela2{
    position:absolute;
    height: 30px;
    bottom: 70%;
    right:15%;
    transform: rotate(11deg);
}

#estrela3{
    position:absolute;
    height: 30px;
    bottom: 65%;
    right:45%;
    transform: rotate(10deg);
}

#estrela4{
    position:absolute;
    height: 30px;
    bottom: 47%;
    right:33%;
    transform: rotate(20deg);
}
@keyframes obstaculo_animation {

from{
    right:-120px;
}
to {
    right:600px;
}
