body {
    font-family: 'Inter';
    justify-content: center;
    margin: 0;
    background-color: #F4F4F4;
}

::selection {
    background-color: rgb(218, 198, 152);
}

header {
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    height: 85px;
  }
  
  header input[type='button'] {
    position: absolute;
    margin-left: auto;
    margin-right: 30px;
    margin-inline-start: 30px;
    background-color: #a98363;
    color: rgb(247, 247, 247);
    border-style: solid;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 35px;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    border-width: 2.5px;
    border-color: #a98363;
    font-size: 20px;
    transform: rotate(180deg);
  }
  
  header input[type='button']:hover {
    background-color: #ffffff00;
    color: #a98363;
  }
  
  header .title {
    font-family: 'Courier', monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: min-content;
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
    font-size: 18px;
  }  

h2 {
    color: rgb(43, 43, 43);
    font-size: 28px;
    margin-left: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.box {
    margin-top: 2%;
    border-radius: 14px;
    padding: 16px;
    max-width: min-content;
}

.imgCard {
    margin: 20px;
}
.imgCard img {
    width: 220px;
    height: 330px;
    border-radius: 8px;
    transform: translateY(2px);
}


.imgCard .text {
    width: 200px;
    border-radius: 6px;
    padding: 8px 10px 8px 10px;
    background-color: #d9bc96;
    font-size: 13.5px;
    pointer-events: none;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.2s;
    word-wrap: break-word;
}


.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(238, 238, 238);
    padding: 30px;
    width: 40%;
    height: 80%;
    max-height: 90%;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: auto;
    transition: opacity 0.3s, display 0.3s;
}

.pop-up img {
    border-radius: 8px;
    width: 230px;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.377);
    z-index: 999;
    transition: opacity 0.3s, display 0.3s;
}

.resumo {
    border-radius: 12px;
    padding: 15px;
    text-align: justify;
    margin-top: 30px;
    background-color: #d9bc96;
}

.close {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size: 28px;
    border-radius: 5px;
    float: inline-end;
    cursor: pointer;
    user-select: none;
    background-color: rgb(214, 214, 214);
    transition: background-color 0.2s, color 0.2s;
}

.close:hover {
    background-color: #a98363;
    color: white;
}

@media (max-width: 720px) {
    header input[type='button'] {
      position: unset;
      margin: unset;
      margin-left: 10px;
      text-align: center;
      width: auto;
      height: 30px;
      font-size: 16px;
    }
    .pop-up img {
        width: 150px;
    }

    .pop-up {
        width: 75%;
    }

    .resumo {
        text-align: left;
    }
}
